*{
    background-color: black;
    color: whitesmoke;
}
section{
    color: whitesmoke;
    padding: 3rem;
    border:2px solid #FFD700;
    box-shadow: 1px 2px 121px 3px #FFD700;
}

section h2{
    margin-left: 26%;
}

section img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25%;
    width: 14rem;
    border: 2px solid #FFD700;
    box-shadow: 2px 2px 121px 2px #FFD700;
}